<!DOCTYPE html>
<html lang="es">
<head>
    
    <%- include('../partials/head.ejs', {title: "Perfil"}) %>
</head>
<body>
    <% if (localsUser.admin == 1) { %>
        <%- include('../partials/headerAdmin.ejs') %>
    <% } else { %>
        <%- include('../partials/header.ejs') %>
    <% } %>
   
    <div class="contenido container-fluid welcome">
        <div class ="welcomeBox">
        <h1> Bienvenido <br><b><%= localsUser.firstName %> </b> </h1>
        <h3>¡Has ingresado correctamente!</h3>
        <a class='botonEditarUser' href="/usuario/editar"><i class="far fa-edit"></i>   Editar</a>
        <a class='botonDesloguear' href="/usuario/logout"><i class="fas fa-sign-out-alt"></i>   Cerrar sesión</a>
        </div>
        </div>

        <% if (localsUser.admin == 0) { %>
            <%- include('../partials/footer.ejs') %>
        <% } %>
    
</body>
</html>